div {
	border:  1px solid red;
}

.header img {
	width:  80%;
}
.header {
	background-color: #EFEFEF;
}

.card-title {
		margin-bottom: 30px;
	}
.card-img-top {
	width:  100%;
}

.navcolour {
	background-color:  #CAEBF2;
}